section#services.services.page__services
  .services__container.centerer
    h2.title.services__title Наши услуги

      //- Ссылки на случай отключенного JS
    ul.services__tabs
      each tab, idx in services
        -
          var { title, link } = tab;
          var tabClass = 'services__tab';
          tabClass += (idx === 0) ? ` ${tabClass}--active` : '';

        li(class=tabClass data-index=idx)
          a(href=link).services__link= title

    ul.services__content-list
      each service, idx in services
        -
          var { name, title, count, link, text } = service;
          var itemClass = 'services__content';
          itemClass += (idx === 0) ? ` ${itemClass}--active` : '';

        li(class=itemClass data-index=idx)
          .services__img-wrapper
            +picture({
              folder: 'services',
              pictureClass: 'services__picture',
              imgClass: 'services__img',
              alt: title,
              name
            })
          .services__content-body
          header.services__content-header
            h3.services__content-title= title
            p.services__count= count
          .services__content-bottom
            p.services__text= text
            .services__btn-wrapper
              a.services__btn.btn(href='#') Консультация
