mixin picture(options)
  - var {folder, name, alt, pictureClass, imgClass, origin} = options;
  picture(class=pictureClass)
    source(media="(min-width: 1360px)" type="image/webp"
      srcset=`blocks/${folder}/img/desktop/${name}.webp,
              blocks/${folder}/img/desktop/${name}@2x.webp 2x`)
    source(media="(min-width: 768px)" type="image/webp"
      srcset=`blocks/${folder}/img/tablet/${name}.webp,
              blocks/${folder}/img/tablet/${name}@2x.webp 2x`)
    source(type="image/webp"
      srcset=`blocks/${folder}/img/mobile/${name}.webp,
              blocks/${folder}/img/mobile/${name}@2x.webp 2x`)

    source(media="(min-width: 1360px)"
      srcset=`blocks/${folder}/img/desktop/${name}.jpg,
              blocks/${folder}/img/desktop/${name}@2x.jpg 2x`)
    source(media="(min-width: 768px)"
      srcset=`blocks/${folder}/img/tablet/${name}.jpg,
              blocks/${folder}/img/tablet/${name}@2x.jpg 2x`)
    img(alt=alt class=imgClass
      src=`blocks/${folder}/img/mobile/${name}.jpg`
      srcset=`blocks/${folder}/img/mobile/${name}@2x.jpg 2x`
      data-origin= origin ? `blocks/${folder}/img/original/${name}.jpg` : '')

mixin svg(options)
  - var {name, className, display} = options;
  - var [width, height] = options.size || [];
  svg(
    class= className
    width= width
    height= height
    display= display
  )
    use(xlink:href=`img/sprite.svg#${name}`)
